.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx {
  display: flex;
  align-items: center;
}

.flbx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tr {
  transition: 300ms;
}

.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 32px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #0f172a !important;
  transition: background-color 9999s ease-in-out 0s;
}
